.wrap {
width: 100%;
}

.floatleft {
    float:left;
    width: 50%;
    #img background-image: url("https://previews.123rf.com/images/flybird163/flybird1631209/flybird163120900044/15248710-do-you-speak-english-test-Stock-Vector-english.jpg");
    height: 400px;
}

.floatright {
float: right;
    background-color: #00ff00;
    height: 200px;
    width: 50%;
}
img.resize {
    width:auto; /* you can use % */
    height: auto;
}
